body {
  display: flex;
  flex-direction: row;
  padding: auto;
  margin: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 16vw;
  width: 18vw;
  height: 100vh;
  background: #1D2128FF;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.line {
  max-width: 18vw;
  margin: 1vh 2vh;
  height: 0px;
  border-width: 1px;
  border-color: #323842FF;
  border-style: solid;
  transform: rotate(0deg);
}

.logo-img {
  width: 80px;
  border-radius: 4px;
  margin: 1vh 2vh;
}

.upper-buttons {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  opacity: 1;
  margin: 1vh 2vh;
  color: #a7adb7;
  background: #1D2128FF;
}

.profile-settings {
  display: flex;
  flex-direction: row;
  margin: 1vh 2vh;
}

.upper-buttons .upper-buttons-item {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-family: Inter;
  font-size: 32px;
}

.upper-buttons .upper-buttons-item.indent {
  padding-left: 33px;
}

.upper-buttons .upper-buttons-item:hover {
  color: #003138FF;
  background: #00A9C0FF;
}

.upper-selected {
  color: #003138;
  background: #00A9C0FF;
}

.selection {
  font-family: Poppins;
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  color: #9095A0FF;
  margin: 2vh 2vh;
}

.bottom-buttons {
  margin: 1vh 2vh;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 32px;
  line-height: 26px;
  font-weight: 400;
  opacity: 1;
  color: #565e6c;
  background: #1D2128FF;
}

.bottom-buttons .bottom-buttons-item {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 4px;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 32px;
}

.bottom-buttons .bottom-buttons-item.indent {
  padding-left: 33px;
}

.bottom-buttons .bottom-buttons-item:hover {
  color: #00bdd6;
  background: #1D2128FF;
}

.bottom-selected {
  color: #00BDD6FF;
  background: #1D2128FF;
}

.profile-settings {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.upper-icons {
  max-width: 32px;
  width: 32px;
  filter: invert(74%) sepia(10%) saturate(275%) hue-rotate(179deg) brightness(95%) contrast(82%);
}

.bottom-icons {
  max-width: 32px;
  width: 32px;
  filter: invert(35%) sepia(7%) saturate(1187%) hue-rotate(180deg) brightness(94%) contrast(81%);
}

.upper-icons:hover {
  filter: invert(16%) sepia(9%) saturate(6898%) hue-rotate(148deg) brightness(94%) contrast(103%);
}

.bottom-icons:hover {
  filter: invert(47%) sepia(68%) saturate(1590%) hue-rotate(151deg) brightness(103%) contrast(101%);
}

.selected-upper-icon {
  filter: invert(16%) sepia(9%) saturate(6898%) hue-rotate(148deg) brightness(94%) contrast(103%);
}

.selected-bottom-icon {
  filter: invert(47%) sepia(68%) saturate(1590%) hue-rotate(151deg) brightness(103%) contrast(101%);
}